html {
	background: url("assets/bg.jpg");
	background-repeat: repeat;
    /* background-size: auto; */
	background-size: 50%;
}

body {
	background: #087225;
	width: 70%;
	margin: 200px auto 200px auto;
	color: black;
	text-align: left;
	border-radius: 100px;
	font-family: Helvetica, sans-serif;
	font-size: 24;
	font-size: 150%;
	/* letter-spacing: 3px; */
	padding: 0px;
}

p {
	margin: 20px 30px 20px 30px;
	padding: 20px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: yellow;
}


.headings {
	margin: 20px 30px 20px 30px;
	text-align: center;
	color: white;
	font-size: 72px;
}

.button {
  width:150px;
  height:100px;
  border-radius: 12px;
  display:block;
  background-color: white;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

/* LOGO NEXT TO TEXT */
.post-container {
    margin: 20px 20px 0 0;
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 10px
}
.post-title {
}
